<div class="col-xs-12 board-detail">
    <div class="box">
        <div class="header">
            <div style="color: #9d9d9d">
                2014-11-14 23:44
            </div>
            <div class="title">
                fdlgkndflkgnfdklsdfsdfsdfdsfds
            </div>
        </div>
        <div class="content">
            sdfsdfdsfdsfsdfs
        </div>
        <!--
            페이지 전환시 이게 약간의 시간차로 나중에 나타나서 디렉티브에서 뻄.
             <comment-box comment-list="commentList"></comment-box>
        -->
        <div class="comment-box" ng-controller="commentController">
            <h4>
                Comments
                <small>({{commentList.length}})</small>
                <button class="btn btn-xs btn-info" ng-click="showWriteBox = !showWriteBox; closeEditor()">
                    <i class="glyphicon" ng-class="{'glyphicon-chevron-down' : !showWriteBox, 'glyphicon-chevron-up' : showWriteBox}"></i>
                </button>
            </h4>
            <div ng-show="showWriteBox">
                <form role="form">
                    <div text-angular="text-angular" name="comment" ng-keydown="insertCt($event);" placeholder="Comment" class="comment-editor"
                         ng-model="comment.content" ta-toolbar="[]" ta-text-editor-class="editor-around form-control" ></div>
                    <div class="comment-form">
                        <input type="text" placeholder="Name" class="form-control" ng-if="!isLogin">
                        <input type="password" placeholder="Password" class="form-control" ng-if="!isLogin">
                        <button type="submit" class="btn btn-success">Write</button>
                    </div>
                </form>
            </div>
            <div class="media comment-detail" ng-repeat="commentDetail in commentList" id="{{commentDetail.seq}}">
                <div>
                    <div class="title">
                        <p>{{commentDetail.name}} <small class="conmentstyle">({{commentDetail.regDt}})</small></p>
                        <span style="float: right; cursor: pointer;" ng-hide="isShowEditor[commentDetail.seq]">
                            <i class="glyphicon glyphicon-wrench signcolor" bs-dropdown="commentDrop(commentDetail.seq)" placement="bottom-right" html="true"></i>
                        </span>
                    </div>
                    <div ng-show="isShowEditor[commentDetail.seq]">
                        <p style="font-weight: bolder; color: chocolate;padding-left: 5px;">※ if you want to cancel, put the esc.</p>
                        <text-angular ng-keydown="editCt($event);"
                             ng-model="commentDetail.content" ta-disabled='disabled' ta-toolbar="[]" ta-text-editor-class="editor-around" ></text-angular>
                        <div class="comment-form">
                            <input type="password" placeholder="Password" class="form-control" ng-keydown="editCt($event, commentDetail.seq);">
                            <button type="submit" class="btn btn-warning btn-sm">Edit</button>
                        </div>
                    </div>
                    <div class="comment-content" ng-bind-html="commentDetail.content" ng-hide="isShowEditor[commentDetail.seq]"></div>
                </div>
            </div>
        </div>
    </div>
</div>