<div class="col-xs-12 board-detail">
    <div class="box">
        <div class="header">
            <div style="color: #9d9d9d">
                2014-11-14 23:44
            </div>
            <div class="title">
                fdlgkndflkgnfdklsdfsdfsdfdsfds
            </div>
        </div>
        <div class="content">
            sdfsdfdsfdsfsdfs
        </div>
        <!-- 댓글  -->
        <div class="comment-box" ng-controller="commentController">
            <h4>Comments <small>({{commentList.length}})</small></h4>
            <div class="row">
                <div class="col-xs-12" >
                    <div text-angular="text-angular" name="comment" ng-keydown="insertCt($event);" placeholder="comment"
                         ng-model="comment.content" ta-toolbar="[]" ta-text-editor-class="editor-around" ></div>
                </div>
            </div>
            <div class="media comment-detail" ng-repeat="commentDetail in commentList">
                <div>
                    <div class="title">
                        <p>{{commentDetail.name}} <small class="conmentstyle">({{commentDetail.regDt}})</small></p>
                        <span style="float: right; cursor: pointer;">
                            <i class="glyphicon glyphicon-wrench signcolor" bs-dropdown="commentDrop(commentDetail.seq)" placement="bottom-right" html="true"></i>
                        </span>
                    </div>
                    <!--<div>
                        <div text-angular="text-angular"
                             ng-model="commentDetail.content" ta-disabled='disabled' ta-toolbar="[]" ta-text-editor-class="editor-around" ></div>
                        if you want to cancel, put the esc.
                    </div>-->
                    <div ng-bind-html="commentDetail.content"></div>
                </div>
            </div>
        </div>
    </div>
</div>