<div class="ngdialog-message">
    <form name="login" role="form">
        <div>
            <h2>Admin Login</h2>
        </div>
        <div style="position: relative">
            <div class="login-err-box" ng-class="{'login-err-box-show': isErr}">
                <div ng-class="{'login-err-show' : isErr, 'login-err-hide' : !isErr}">
                    <h4 >File Login : {{errorMsg}}</h4>
                </div>
            </div>
            <div class="form-group" style="margin-top: 3%;"
                 ng-class="{ 'has-error' : login.userId.$invalid && !login.userId.$pristine ,'has-success': !login.userId.$error.required }">
                <input type="text" name="userId" ng-model="login.id" class="form-control input-lg" placeholder="ID" tabindex="1" required autofocus>
            </div>
            <div class="form-group"
                 ng-class="{ 'has-error' : login.password.$invalid && !login.password.$pristine ,'has-success': !login.password.$error.required }">
                <input type="password" name="password" ng-model="login.pw" class="form-control input-lg" placeholder="Password" tabindex="2" required>
            </div>
        </div>
        <div class="row" style="margin-bottom: 2%;">
            <div class="col-xs-12">
                <button class="btn btn-sns btn-block btn-lg" ng-click="doLogin();" tabindex="3"
                        ng-disabled="login.password.$error.required || login.id.$error.required">
                    Login
                </button>
            </div>
        </div>
    </form>
</div>